form {
    border-radius: 7px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inpt-fl {
    padding: 5px 20px;
    width: 95%;
    line-height: 16px;
    margin: 10px 0;
}

.btn-fl {
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    margin-left: 0.3rem;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: rgb(139, 255, 168);
}

.btn-fl:hover {
    background-color: rgb(16, 236, 71);
}