header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 6px;
}

.log-in > a, .na-in > a {
    text-decoration: none;
    color: black;
}

.log-in:hover, .na-in:hover {
    text-decoration:underline;
}